table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
th {
    background-color: #c0bebe;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #d4d4d4;
}